<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StudentsTest.Properties.Settings.TestConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=Test;Persist Security Info=True;User ID=sa;Password=9"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>